$background: rgb(26, 26, 26);

*{
    color: whitesmoke;
    text-align: center;
}

body, button{
    background-color: $background;
}
body {
    -webkit-app-region: drag; /* całe okno przeciągalne */
}
img {
    -webkit-app-region: no-drag; /* obrazek nie blokuje przeciągania */
}
@media screen and (max-width: 512px)  {
    img{
        width: 95vw;
    }
}
button{
    img{
        width: 10vw;
    }
}